.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ml-5 {
  margin-left: 5px;
}
.mt-5 {
  margin-top: 5px;
}
label {
  font-size: 16px;
}

div {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.75s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 0.75s;
  /* animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite; */
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

/* Standard syntax */
@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
a {
  display: block;
}
li > a:hover {
  color: white;
  background: black;
  transition: 1s;
}
.full {
  width: 100%;
  height: 100%;
  min-height: 550px;
}
